.recipe-link {
    list-style: none;
}

.recipe-main-head {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: cursive;
}

.recipe-head {
    font-size: 40px;
    text-align: center;
}

.recipe-info {
    font-size: 23px;
    width: 1200px;
}

.small-description {
    font-size: 30px;
    font-weight: bold;
}

.ingredients {
    font-size: 30px;
    font-weight: bold;
}
